.articl {
  width: 70%;
  background: white;
  box-shadow: 0px 4px 12px 0px #00000026;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 16%;

  .articl__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .articl__header_info {
      text-align: left;
      .articl__header_infoTitle {
        font-weight: 400;
        color: #1890ff;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: start;
      }
      .articl__header_infoTags {
        font-size: 12px;
        margin-left: 15px;
        margin-top: 5px;
        padding: 1px 5px;
        border: 1px solid #00000080;
      }
    }

    .articl__header_user {
      display: flex;
      margin-top: 10px;
      margin-right: 15px;
      padding-left: 5px;

      .articl__header_userInfo {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        font-size: 12px;

        .articl__header_userName {
          font-size: 18px;
        }

        .articl__header_userData {
          color: grey;
        }
      }
    }
  }
}

.articl__header_userImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.articl__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.delete {
  background: white;
  border: 2px solid #f5222d;
  margin-left: 15px;
  text-decoration: none;
  border-radius: 6px;
  color: #f5222d;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 35px;
}

.edit {
  background: white;
  border: 2px solid #52c41a;
  margin-left: 15px;
  text-decoration: none;
  border-radius: 6px;
  color: #52c41a;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 35px;
}

.articl__main_text {
  font-size: 12px;
  margin-left: 15px;
  text-align: start;
}

.description {
  text-align: left;
  font-size: 16px;
  margin-left: 15px;
  padding-bottom: 20%;
  padding-right: 15px;
}

.favorite {
  background: white;
  border: none;
}
