.attik {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 14%;
  margin-right: 6%;
}
.articlList {
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.border {
  border: 1px solid grey;
}

.link {
  text-decoration: none;
  color: black;
}
