.form {
  background: white;
  margin-top: 35px;
  width: 60%;
  border-radius: 4px;
  margin-left: 20%;

  .formCreteArticl {
    padding-top: 40px;
  }
}

.formArticl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formArticlTitle,
.formArticlDescription,
.formArticlBody,
.formArticlTag {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 20px;
  .formArticlTagInput {
    display: flex;
    flex-direction: column;
  }
}

.formArticlTitle:first-child {
  margin-top: 0px;
}

.formArticlTitle input,
.formArticlDescription input,
.formArticlBody input,
.formArticlTag input {
  height: 35px;
  font-size: 15px;
  padding-left: 10px;
  border: 1px solid #d9d9d9;
}
.formArticlBody input {
  height: 130px;
}

.formArticlTitle span,
.formArticlDescription span,
.formArticlBody span,
.formArticlTag span {
  text-align: start;
  font-size: 14px;
  padding-bottom: 5px;
}

.deleteTag {
  height: 40px;
  background: white;
  border: 2px solid #f5222d;
  margin-left: 15px;
  width: 100px;
  border-radius: 6px;
  color: #f5222d;
  font-weight: 600;
  cursor: pointer;
}

.addTag {
  height: 40px;
  background: white;
  border: 2px solid #1890ff;
  margin-left: 15px;
  width: 100px;
  border-radius: 6px;
  color: #1890ff;
  font-weight: 600;
  cursor: pointer;
}

.send {
  margin-top: 15px;
  background: #1890ff;
  color: white;
  padding: 10px;
  width: 250px;
  border: none;
  margin-bottom: 40px;
  cursor: pointer;
}

.userTitleErrors {
  font-size: 12px;
  color: red;
  margin: 0;
  text-align: center;
  margin-top: 2px;
}

.startTag {
  text-align: start;
}

.Tag {
  display: flex;
  margin-top: 5px;
}

.tagsArr {
  margin-bottom: 10px;
}
