.container {
  display: flex;
  justify-content: center;
  .singUp {
    h3 {
      padding-top: 20px;
    }
    background: white;
    width: 360px;
    margin-top: 20px;
    border-radius: 12px;

    .singUp__input {
      display: flex;
      flex-direction: column;
      align-items: center;

      .singUp__form {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .singUp__inputUsername,
        .singUp__inputEmail,
        .singUp__inputPassword,
        .singUp__inputPassword_Repeat {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 10px;
        }

        .singUp__inputUsername input,
        .singUp__inputEmail input,
        .singUp__inputPassword input,
        .singUp__inputPassword_Repeat input {
          height: 35px;
          border-radius: 4px;
          width: 300px;
          border: 1px solid grey;
          padding-left: 5px;
        }

        .singUp__inputUsername span,
        .singUp__inputEmail span,
        .singUp__inputPassword span,
        .singUp__inputPassword_Repeat span {
          text-align: start;
        }
      }
    }
  }
}

.processing {
  display: flex;
  text-align: start;
  margin-left: 25px;
}
.processing span {
  font-size: 14px;
  margin: 20px 10px;
}
.processing input {
  height: 30px;
  margin-top: 15px;
}

.create {
  color: white;
  background: #1890ff;
  width: 85%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
}

.already,
.singIn {
  font-size: 12px;
}

.createAcc {
  margin-bottom: 40px;
}

.userClassErrors,
.userEmailErrors,
.userPasswordErrors,
.userRepeatPasswordErrors {
  font-size: 12px;
  color: red;
  margin: 0;
  text-align: center;
  margin-top: 2px;
}
